.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-4DHMt0QiPKjZuh);
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    min-height: auto;
    min-width: auto;
    max-height: none;
    max-width: 100%;
    flex-grow: 0;
    flex-row-gap: 0px;
    padding: 0em 0px 1em;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jI2BB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__jI2BB {
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox___2Sa7Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox___2Sa7Z {
    display: flex;
  }
}
.freeBox__lnphy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__cXiYs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.freeBox__tGlGc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 0px 0rem;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox__tGlGc {
    align-self: flex-start;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
}
.freeBox__o1Cf2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 1410px;
  min-width: 1410px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox__o1Cf2 {
    align-items: center;
    justify-content: flex-start;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    min-width: 1150px;
    flex-row-gap: 0px;
  }
}
.columns__kyEMf {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__kyEMf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kyEMf > :global(.__wab_flex-container) > *,
.columns__kyEMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kyEMf > :global(.__wab_flex-container) > picture > img,
.columns__kyEMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf {
    min-height: 600px;
    min-width: 1000px;
    width: 100%;
    height: auto;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * 20px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * 20px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * 20px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kyEMf > :global(.__wab_flex-container) > *,
  .columns__kyEMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kyEMf > :global(.__wab_flex-container) > picture > img,
  .columns__kyEMf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__nrTny {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__nrTny {
    display: flex;
    padding: 0%;
  }
}
.img__rjp1T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__rjp1T > picture > img {
  object-fit: cover;
}
.img__rjp1T > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__rjp1T {
    height: 286px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.columns__riDzj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 0;
  padding: 1.33em;
}
.columns__riDzj > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__riDzj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-shrink: 0;
    min-width: 0;
    padding: 1.33em;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__riDzj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__toqR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__toqR {
    padding-bottom: 0px;
  }
}
.text__aZihX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__hpVd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h4__hpVd {
    font-size: 20px;
  }
}
.text__fYjll {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__jaq3A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vkNx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kDmRr {
  font-size: 13px;
}
.svg__klDqd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ai7B5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__ai7B5 {
    display: flex;
    padding: 0%;
  }
}
.img__tZqVe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__tZqVe > picture > img {
  object-fit: cover;
}
.img__tZqVe > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__tZqVe {
    height: 286px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.columns__kl5Pg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 0;
  padding: 1.33em;
}
.columns__kl5Pg > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kl5Pg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-shrink: 0;
    min-width: 0;
    padding: 1.33em;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns__kl5Pg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fLBtl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__fLBtl {
    padding-bottom: 0px;
  }
}
.text__aryp3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__jfi8E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h4__jfi8E {
    font-size: 20px;
  }
}
.text___2OqfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__cFqLx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jLdrW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__k6A3B {
  font-size: 13px;
}
.svg___4BiHy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__t863A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__t863A {
    display: flex;
    padding: 0%;
  }
}
.img__rqoo5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__rqoo5 > picture > img {
  object-fit: cover;
}
.img__rqoo5 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__rqoo5 {
    object-position: 50% 40%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__rqoo5 > picture > img {
    object-position: 50% 40%;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__rqoo5 > .__wab_img-spacer > img {
    object-position: 50% 40%;
  }
}
.columns___4YSnc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 0;
  padding: 1.33em 1.33em 0em;
}
.columns___4YSnc > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns___4YSnc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .columns___4YSnc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ebbD9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 15px;
}
.column__ebbD9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__ebbD9 > :global(.__wab_flex-container) > *,
.column__ebbD9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ebbD9 > :global(.__wab_flex-container) > picture > img,
.column__ebbD9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__ebbD9 {
    padding-bottom: 12px;
  }
}
.text__d07Q3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__kKonP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h4__kKonP {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__d6IU3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button__mo4T1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6NoR3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rdp2G {
  font-size: 13px;
}
.svg__gWbWb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
