.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .root {
    padding-right: 0px;
  }
}
.bigVerticalStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 0;
  order: 0;
  min-width: 0;
  padding: 0px;
}
.wrappedStack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(#0091ffab, #0091ffab),
    url("/plasmic/mavia_sun/images/fakurianDesignLfbhDph3QYUnsplashjpg.jpeg") left 50% top 50% / cover repeat;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrappedStack {
    width: 100%;
    min-width: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-self: auto;
  order: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .header:global(.__wab_instance) {
    order: 0;
  }
}
.landingVStack {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: url("/plasmic/mavia_sun/images/scpzk0Mpng.png") top 50% left 50% / cover repeat;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  order: 1;
  min-width: 0;
  padding: 84px 20px 212px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .landingVStack {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    margin-top: 0px;
    align-self: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    flex-row-gap: 0px;
    padding: 28px 0px 0px;
  }
}
.innerHStack {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.innerHStack > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.innerHStack > :global(.__wab_flex-container) > *,
.innerHStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.innerHStack > :global(.__wab_flex-container) > picture > img,
.innerHStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .innerHStack {
    display: flex;
    flex-direction: column;
    height: 672px;
    padding-bottom: 0px;
    overflow: visible;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .innerHStack > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .innerHStack > :global(.__wab_flex-container) > *,
  .innerHStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .innerHStack > :global(.__wab_flex-container) > picture > img,
  .innerHStack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.titaleVStack {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.titaleVStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.titaleVStack > :global(.__wab_flex-container) > *,
.titaleVStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titaleVStack > :global(.__wab_flex-container) > picture > img,
.titaleVStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .titaleVStack {
    margin-bottom: 13px;
    padding-right: 22px;
    padding-left: 22px;
  }
}
.wrapStack {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 0px;
}
.wrapStack > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.wrapStack > :global(.__wab_flex-container) > *,
.wrapStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapStack > :global(.__wab_flex-container) > picture > img,
.wrapStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapStack {
    margin-right: 0px;
    max-width: 389px;
    width: 100%;
    padding-left: 36px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapStack > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.h4Text {
  margin-top: calc(0px + 20px) !important;
  margin-bottom: 0px;
  color: var(--token-4DHMt0QiPKjZuh);
  max-width: 534px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h4Text {
    margin-top: calc(0px + 20px) !important;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  width: 11px;
  margin-bottom: 0px;
}
.svg__y5Hs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.imageHStack {
  display: flex;
  position: relative;
  height: 400px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .imageHStack {
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    order: 1;
    min-width: 0;
    min-height: 0;
  }
}
.imageBox {
  display: block;
  width: 800px;
  height: 667px;
  background: url("/plasmic/mavia_sun/images/heroImagepng.png") left 50% top 50% / cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  margin-left: 0px;
  padding-right: 97px;
  flex-shrink: 0;
  border-radius: 24%;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .imageBox {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-right: 0px;
    overflow: visible;
    transform: none;
    padding-right: 0px;
    padding-bottom: 0px;
    align-self: flex-end;
    order: 0;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 500px;
  }
}
.mainArticles:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 807px;
  order: 2;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .mainArticles:global(.__wab_instance) {
    height: auto;
    order: 2;
  }
}
.allArticles:global(.__wab_instance) {
  position: relative;
  align-self: center;
  height: auto;
  order: 3;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .allArticles:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    max-height: none;
    min-height: auto;
    order: 3;
  }
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-4DHMt0QiPKjZuh);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  left: auto;
  top: auto;
  z-index: 0;
  order: 4;
  min-width: 0;
  padding: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    position: relative;
    align-self: center;
    order: 4;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yLcCd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      var(--token-4DHMt0QiPKjZuh) 0%,
      var(--token-BGSug6hHGNlGUz) 37%,
      var(--token-BGSug6hHGNlGUz) 47%,
      var(--token-BGSug6hHGNlGUz) 74%,
      var(--token-4DHMt0QiPKjZuh) 100%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 4.17em 15px 0em;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__yLcCd {
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        0deg,
        var(--token-4DHMt0QiPKjZuh) 0%,
        var(--token-BGSug6hHGNlGUz) 50%,
        var(--token-4DHMt0QiPKjZuh) 100%
      )
      0% 0% / 100% 100% repeat;
    padding-bottom: 1em;
  }
}
.h2___54HrM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h2___54HrM {
    font-size: 32px;
  }
}
.text__cj0SM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 784px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 45px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .text__cj0SM {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 0px 0px 42px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .outerRow2 {
    justify-content: center;
    align-items: center;
  }
}
.valusRow1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  padding: 0px;
}
.valusRow1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.valusRow1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .valusRow1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .valusRow1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vUrFe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox___2CfU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2CfU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___2CfU > :global(.__wab_flex-container) > *,
.freeBox___2CfU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2CfU > :global(.__wab_flex-container) > picture > img,
.freeBox___2CfU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox___2CfU {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox___2CfU > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img___7PtBe {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  margin-top: calc(0px + 20px) !important;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  flex-shrink: 0;
  border-radius: 50%;
}
.img___7PtBe > picture > img {
  object-fit: cover;
}
.img___7PtBe > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img___7PtBe {
    margin-bottom: 26px;
    width: 110px;
    height: 110px;
    position: relative;
    left: auto;
    top: auto;
    max-height: 110px;
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    margin-top: calc(0px + 20px) !important;
    flex-shrink: 0;
    display: inline-block !important;
  }
}
.freeBox___5Roiy {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-FPcpZzOSGXKm8d);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox___5Roiy {
    display: block;
  }
}
.h3__lYuw4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h3__lYuw4 {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__us0Aj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .text__us0Aj {
    margin-top: calc(0px + 20px) !important;
  }
}
.column__kckp1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__bVdM5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__cer72 {
  object-fit: cover;
  max-width: none;
  max-height: none;
  height: 400px;
  width: 400px;
  object-position: center center;
  transform: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__cer72 > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img__cer72 > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__cer72 {
    margin-bottom: 24px;
    width: 110px;
    height: 110px;
    position: absolute;
    left: 32px;
    top: 196px;
    flex-shrink: 0;
    display: none !important;
  }
}
.valusRow2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  padding: 0px;
  margin: 1.67em 0em 0em;
}
.valusRow2 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .valusRow2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .valusRow2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .outerRow3 {
    padding-top: 0px;
  }
}
.img__rj4H {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  margin-top: 0px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  flex-shrink: 0;
  border-radius: 50%;
}
.img__rj4H > picture > img {
  object-fit: cover;
}
.img__rj4H > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__rj4H {
    margin-bottom: 26px;
    width: 70px;
    height: 110px;
    position: relative;
    left: auto;
    top: auto;
    max-height: 110px;
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    flex-shrink: 0;
    display: inline-block !important;
  }
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 1420px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vc5Cg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__zutd5 {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  margin-top: 0px;
  transform: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__zutd5 > picture > img {
  object-fit: cover;
}
.img__zutd5 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .img__zutd5 {
    margin-bottom: 26px;
    width: 110px;
    height: 110px;
    position: absolute;
    left: 208px;
    top: 209px;
    flex-shrink: 0;
    display: none !important;
  }
}
.column__fIy1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__zecBi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zecBi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zecBi > :global(.__wab_flex-container) > *,
.freeBox__zecBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zecBi > :global(.__wab_flex-container) > picture > img,
.freeBox__zecBi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox__zecBi > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___5S9Rq {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-FPcpZzOSGXKm8d);
  flex-shrink: 0;
}
.h3___2AZs7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h3___2AZs7 {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__yAiD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .text__yAiD {
    margin-top: calc(0px + 20px) !important;
  }
}
.preTeam {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  order: 5;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .preTeam {
    align-self: center;
    padding-bottom: 0px;
  }
}
.h2__eGy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 0px;
  min-width: 0;
  margin: 0px 0px 0.25em;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h2__eGy6 {
    font-size: 32px;
    padding-top: 0px;
  }
}
.text__eiRds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.team {
  background: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  order: 6;
  min-width: 0;
  padding: 12px 8px 45px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .team {
    margin-top: calc(0px + 0px) !important;
    order: 5;
    overflow: auto;
    background: none;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    padding: 15px 0px 24px;
  }
}
.freeBox__fzgmN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1420px;
  align-self: center;
  min-width: 1420px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox__fzgmN {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
}
.wrapTeam {
  flex-direction: row;
  background: none;
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  overflow: auto;
  max-width: 1800px;
  min-width: 0;
  padding: 0em 15px;
}
.wrapTeam > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.wrapTeam > :global(.__wab_flex-container) > *,
.wrapTeam > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapTeam > :global(.__wab_flex-container) > picture > img,
.wrapTeam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (max-width: 2400px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (max-width: 2400px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (max-width: 2400px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (max-width: 2400px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam {
    width: auto;
    height: auto;
    flex-direction: row;
    background: none;
    overflow: auto;
    flex-shrink: 0;
    min-width: 1420px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1420px;
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1420px) {
  .wrapTeam > :global(.__wab_flex-container) > *,
  .wrapTeam > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wrapTeam > :global(.__wab_flex-container) > picture > img,
  .wrapTeam
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column__wMsG1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__nKyi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  height: 445px;
  max-width: none;
  min-width: 300px;
  min-height: 445px;
  max-height: 445px;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  flex-wrap: nowrap;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 1.5em;
}
.freeBox__fOpl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__iyzRx {
  position: relative;
  object-fit: cover;
  max-width: 171px;
  height: 171px;
  max-height: 171px;
  min-height: 171px;
  min-width: 171px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__iyzRx > picture > img {
  object-fit: cover;
}
.img__iyzRx > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__gNw8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-ORCdmmR47er1iU);
  font-family: var(--token-MnLNoPKcW5_SqU);
  font-size: var(--token-H5DWm5pOgyH2dg);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h5__gNw8K {
    text-align: center;
  }
}
.text__i5Cyh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column__zTnLi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .column__zTnLi {
    padding-right: 0px;
  }
}
.freeBox__dqk8R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  height: 445px;
  max-width: none;
  min-width: 300px;
  min-height: 445px;
  max-height: 445px;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  flex-wrap: nowrap;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 1.5em;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox__dqk8R {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__vhi9T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__jg67X {
  position: relative;
  object-fit: cover;
  max-width: 171px;
  height: 171px;
  max-height: 171px;
  min-width: 171px;
  width: 171px;
  min-height: 171px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__jg67X > picture > img {
  object-fit: cover;
}
.img__jg67X > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__zgShT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-ORCdmmR47er1iU);
  font-family: var(--token-MnLNoPKcW5_SqU);
  font-size: var(--token-H5DWm5pOgyH2dg);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h5__zgShT {
    text-align: center;
  }
}
.text__oA1Ww {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column__lquca {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6ZJzc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  height: 445px;
  max-width: none;
  min-width: 300px;
  min-height: 445px;
  max-height: 445px;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  flex-wrap: nowrap;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 1.5em;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .freeBox___6ZJzc {
    align-items: center;
    justify-content: center;
  }
}
.freeBox___8JvxR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__vgKrs {
  position: relative;
  object-fit: cover;
  max-width: 171px;
  height: 171px;
  max-height: 171px;
  min-height: 171px;
  min-width: 171px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__vgKrs > picture > img {
  object-fit: cover;
}
.img__vgKrs > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__z6M1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-ORCdmmR47er1iU);
  font-family: var(--token-MnLNoPKcW5_SqU);
  font-size: var(--token-H5DWm5pOgyH2dg);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h5__z6M1M {
    text-align: center;
  }
}
.text___1OGw4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column___2FucV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__pjEc5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  height: 445px;
  max-width: none;
  min-width: 300px;
  min-height: 445px;
  max-height: 445px;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  flex-wrap: nowrap;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 1.5em;
}
.freeBox__fT3Kf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__xcp4L {
  position: relative;
  object-fit: cover;
  max-width: 171px;
  height: 171px;
  max-height: 171px;
  min-height: 171px;
  min-width: 171px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__xcp4L > picture > img {
  object-fit: cover;
}
.img__xcp4L > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__keQwT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-ORCdmmR47er1iU);
  font-family: var(--token-MnLNoPKcW5_SqU);
  font-size: var(--token-H5DWm5pOgyH2dg);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .h5__keQwT {
    text-align: center;
  }
}
.text___1VGxG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.footerBanner:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  order: 6;
  display: none;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .footerBanner:global(.__wab_instance) {
    align-self: center;
    order: 6;
    margin-top: calc(0px + 0px) !important;
    display: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  order: 7;
}
@media (min-width: 0px) and (max-width: 1420px) {
  .footer:global(.__wab_instance) {
    align-self: center;
    order: 7;
  }
}
