.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-4DHMt0QiPKjZuh);
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1000px) {
  .root {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    min-height: auto;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-grow: 0;
    display: inline-flex;
    padding: 3em 0px 0em;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jI2BB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__jI2BB {
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__cXiYs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__zY4Js {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__zY4Js > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.columns__zY4Js > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zY4Js > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zY4Js > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__zY4Js {
    width: auto;
    height: auto;
    flex-direction: row;
    max-width: none;
    max-height: 600px;
    flex-shrink: 0;
    min-height: 600px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__zY4Js > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__zY4Js > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__zY4Js > :global(.__wab_flex-container) > *,
  .columns__zY4Js > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zY4Js > :global(.__wab_flex-container) > picture > img,
  .columns__zY4Js
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__bvFe9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__bvFe9 {
    display: flex;
    padding: 0% 4%;
  }
}
.img__yNcIq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__yNcIq > picture > img {
  object-fit: cover;
}
.img__yNcIq > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .img__yNcIq {
    height: 286px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.columns__g6Icr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 0;
  padding: 1.33em;
}
.columns__g6Icr > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__g6Icr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-shrink: 0;
    min-width: 0;
    padding: 1.33em;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__g6Icr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nZssj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__nZssj {
    padding-bottom: 0px;
  }
}
.text___9YVa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__spbXs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .h4__spbXs {
    font-size: 20px;
  }
}
.text__fzCK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__h2W3U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cyql9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4FEHo {
  font-size: 13px;
}
.svg__gqE86 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__icw94 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__icw94 {
    display: none;
  }
}
.img__krmij {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 285px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__krmij > picture > img {
  object-fit: cover;
}
.img__krmij > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .img__krmij {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
.columns__h0JXa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 0;
  padding: 1.33em;
}
.columns__h0JXa > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__h0JXa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__h0JXa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ikXfO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___4GzBm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4___0Dsnv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .h4___0Dsnv {
    font-size: 20px;
  }
}
.text__cKMxc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__f738L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ujFcw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__m6R7 {
  font-size: 13px;
}
.svg__sXOdV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__gaLuf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__gaLuf {
    display: none;
    padding: 0% 4%;
  }
}
.img__inm8Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__inm8Y > picture > img {
  object-fit: cover;
}
.img__inm8Y > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .img__inm8Y {
    object-position: 50% 40%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .img__inm8Y > picture > img {
    object-position: 50% 40%;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .img__inm8Y > .__wab_img-spacer > img {
    object-position: 50% 40%;
  }
}
.columns__z2MK7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 0;
  padding: 1.33em 1.33em 0em;
}
.columns__z2MK7 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__z2MK7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .columns__z2MK7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hhhXu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 15px;
}
.column__hhhXu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__hhhXu > :global(.__wab_flex-container) > *,
.column__hhhXu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__hhhXu > :global(.__wab_flex-container) > picture > img,
.column__hhhXu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .column__hhhXu {
    padding-bottom: 12px;
  }
}
.text__jyyE7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-FPcpZzOSGXKm8d);
  font-size: var(--token-H5DWm5pOgyH2dg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4___6Uggh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-07x4swmdHjiMhT);
  font-size: var(--token-oJzXs8t7zcoRNT);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .h4___6Uggh {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__ffrYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button__x7Ltd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xPsu6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6E9Wt {
  font-size: 13px;
}
.svg___04Lyk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
