@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token--YMecTWshzoYwJ: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token--YMecTWshzoYwJ);
  --token-4DHMt0QiPKjZuh: #ffffff;
  --plasmic-token-white: var(--token-4DHMt0QiPKjZuh);
  --token-07x4swmdHjiMhT: #000000;
  --plasmic-token-black: var(--token-07x4swmdHjiMhT);
  --token-ORCdmmR47er1iU: #535353;
  --plasmic-token-primary-color: var(--token-ORCdmmR47er1iU);
  --token-VtmVuXC5TXBSnW: 48px;
  --plasmic-token-lead-title: var(--token-VtmVuXC5TXBSnW);
  --token-H5DWm5pOgyH2dg: 16px;
  --plasmic-token-primary-text: var(--token-H5DWm5pOgyH2dg);
  --token-MnLNoPKcW5_SqU: Inter;
  --plasmic-token-primary-font: var(--token-MnLNoPKcW5_SqU);
  --token-oJzXs8t7zcoRNT: 24px;
  --plasmic-token-small-title: var(--token-oJzXs8t7zcoRNT);
  --token-VaeWGoMqgE6l8g: 30px;
  --plasmic-token-lead-title-sm: var(--token-VaeWGoMqgE6l8g);
  --token-kRoFyzvBkH1vXp: 20px;
  --plasmic-token-small-title-sm: var(--token-kRoFyzvBkH1vXp);
  --token-FPcpZzOSGXKm8d: #0091ff;
  --plasmic-token-clr: var(--token-FPcpZzOSGXKm8d);
  --token-WnO7uN73_0kIQk: var(--token-FPcpZzOSGXKm8d);
  --plasmic-token-unnamed-style-token-2: var(--token-WnO7uN73_0kIQk);
  --token-hmbJREEMtuWJkl: var(--token-MKcu4pIjisCH6x);
  --plasmic-token-unnamed-style-token-3: var(--token-hmbJREEMtuWJkl);
  --token-MKcu4pIjisCH6x: var(--token-pJUPBE1_A1kqCJ);
  --plasmic-token-unnamed-style-token-4: var(--token-MKcu4pIjisCH6x);
  --token-pJUPBE1_A1kqCJ: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-pJUPBE1_A1kqCJ);
  --token-BGSug6hHGNlGUz: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-BGSug6hHGNlGUz);
  --token-jFLcUApqrNKTRB: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-jFLcUApqrNKTRB);
  --token-aHNwhLYk_FOVje: var(--token-BGSug6hHGNlGUz);
  --plasmic-token-unnamed-style-token-8: var(--token-aHNwhLYk_FOVje);
  --token-hQYK_wWexJ1e0F: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-hQYK_wWexJ1e0F);
}

@media (min-width: 0px) and (max-width: 1000px) {
  .plasmic_tokens {
    --token-BGSug6hHGNlGUz: #f8f8f8;
    --plasmic-token-unnamed-style-token-6: var(--token-BGSug6hHGNlGUz);
  }
}

.plasmic_default_styles {
  --mixin-7IdePuwcF700kD_font-family: "Inter";
  --mixin-7IdePuwcF700kD_font-size: 16px;
  --mixin-7IdePuwcF700kD_font-weight: 400;
  --mixin-7IdePuwcF700kD_font-style: normal;
  --mixin-7IdePuwcF700kD_color: #535353;
  --mixin-7IdePuwcF700kD_text-align: left;
  --mixin-7IdePuwcF700kD_text-transform: none;
  --mixin-7IdePuwcF700kD_line-height: 1.5;
  --mixin-7IdePuwcF700kD_letter-spacing: normal;
  --mixin-7IdePuwcF700kD_white-space: pre-wrap;
  --mixin-7IdePuwcF700kD_user-select: text;
  --mixin-7IdePuwcF700kD_text-decoration-line: none;
  --mixin-7IdePuwcF700kD_text-overflow: clip;
  --mixin-AlRQsq33gO1iK6_color: var(--token-4DHMt0QiPKjZuh);
  --mixin-AlRQsq33gO1iK6_font-weight: 700;
  --mixin-AlRQsq33gO1iK6_font-size: 50px;
  --mixin-AlRQsq33gO1iK6_line-height: 1;
  --mixin-AlRQsq33gO1iK6_letter-spacing: -1px;
  --mixin-AlRQsq33gO1iK6_font-family: "Inter";
  --mixin-ZAYjm6L3cKDIbb_color: #000000;
  --mixin-ZAYjm6L3cKDIbb_font-weight: 700;
  --mixin-ZAYjm6L3cKDIbb_font-size: 36px;
  --mixin-ZAYjm6L3cKDIbb_line-height: 1.1;
  --mixin-ZAYjm6L3cKDIbb_letter-spacing: -1px;
  --mixin-ZAYjm6L3cKDIbb_font-family: "Inter";
  --mixin-yBNQ7a_5H2cRsU_color: #3291ff;
  --mixin-xN-e7cHjrUC5hz_color: #000000;
  --mixin-xN-e7cHjrUC5hz_font-weight: 600;
  --mixin-xN-e7cHjrUC5hz_font-size: 28px;
  --mixin-xN-e7cHjrUC5hz_line-height: 1.2;
  --mixin-xN-e7cHjrUC5hz_letter-spacing: -0.8px;
  --mixin-xN-e7cHjrUC5hz_font-family: "Inter";
  --mixin-0t2WVG_Fsp23Xc_color: #000000;
  --mixin-0t2WVG_Fsp23Xc_font-weight: 600;
  --mixin-0t2WVG_Fsp23Xc_font-size: 24px;
  --mixin-0t2WVG_Fsp23Xc_line-height: 1.3;
  --mixin-0t2WVG_Fsp23Xc_letter-spacing: -0.5px;
  --mixin-zDJ1ZrrhNmTTjL_font-family: "Inconsolata";
  --mixin-EPPmWy1azToU1y_font-family: "Inter";
  --mixin-EPPmWy1azToU1y_font-size: 20px;
  --mixin-EPPmWy1azToU1y_font-weight: 500;
  --mixin-EPPmWy1azToU1y_color: var(--token-07x4swmdHjiMhT);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-7IdePuwcF700kD_font-family);
  font-size: var(--mixin-7IdePuwcF700kD_font-size);
  font-weight: var(--mixin-7IdePuwcF700kD_font-weight);
  font-style: var(--mixin-7IdePuwcF700kD_font-style);
  color: var(--mixin-7IdePuwcF700kD_color);
  text-align: var(--mixin-7IdePuwcF700kD_text-align);
  text-transform: var(--mixin-7IdePuwcF700kD_text-transform);
  line-height: var(--mixin-7IdePuwcF700kD_line-height);
  letter-spacing: var(--mixin-7IdePuwcF700kD_letter-spacing);
  white-space: var(--mixin-7IdePuwcF700kD_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-AlRQsq33gO1iK6_color);
  font-weight: var(--mixin-AlRQsq33gO1iK6_font-weight);
  font-size: var(--mixin-AlRQsq33gO1iK6_font-size);
  line-height: var(--mixin-AlRQsq33gO1iK6_line-height);
  letter-spacing: var(--mixin-AlRQsq33gO1iK6_letter-spacing);
  font-family: var(--mixin-AlRQsq33gO1iK6_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-ZAYjm6L3cKDIbb_color);
  font-weight: var(--mixin-ZAYjm6L3cKDIbb_font-weight);
  font-size: var(--mixin-ZAYjm6L3cKDIbb_font-size);
  line-height: var(--mixin-ZAYjm6L3cKDIbb_line-height);
  letter-spacing: var(--mixin-ZAYjm6L3cKDIbb_letter-spacing);
  font-family: var(--mixin-ZAYjm6L3cKDIbb_font-family);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-yBNQ7a_5H2cRsU_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-xN-e7cHjrUC5hz_color);
  font-weight: var(--mixin-xN-e7cHjrUC5hz_font-weight);
  font-size: var(--mixin-xN-e7cHjrUC5hz_font-size);
  line-height: var(--mixin-xN-e7cHjrUC5hz_line-height);
  letter-spacing: var(--mixin-xN-e7cHjrUC5hz_letter-spacing);
  font-family: var(--mixin-xN-e7cHjrUC5hz_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-0t2WVG_Fsp23Xc_color);
  font-weight: var(--mixin-0t2WVG_Fsp23Xc_font-weight);
  font-size: var(--mixin-0t2WVG_Fsp23Xc_font-size);
  line-height: var(--mixin-0t2WVG_Fsp23Xc_line-height);
  letter-spacing: var(--mixin-0t2WVG_Fsp23Xc_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  font-family: var(--mixin-zDJ1ZrrhNmTTjL_font-family);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-EPPmWy1azToU1y_font-family);
  font-size: var(--mixin-EPPmWy1azToU1y_font-size);
  font-weight: var(--mixin-EPPmWy1azToU1y_font-weight);
  color: var(--mixin-EPPmWy1azToU1y_color);
}
