.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-hQYK_wWexJ1e0F);
  flex-shrink: 1;
  flex-wrap: nowrap;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 600px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cJi5A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___8PD4F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1436px;
  align-self: center;
  margin-left: 0px;
  min-width: 0;
  padding: 36px 8px 0px;
}
.columns__kRyiJ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__kRyiJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 20px) * 4 / 12);
}
.columns__kRyiJ > :global(.__wab_flex-container) > *,
.columns__kRyiJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kRyiJ > :global(.__wab_flex-container) > picture > img,
.columns__kRyiJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 10px;
}
@media (max-width: 920px) {
  .columns__kRyiJ {
    flex-direction: row;
  }
}
@media (max-width: 920px) {
  .columns__kRyiJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 920px) {
  .columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__kRyiJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__kRyiJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__kRyiJ > :global(.__wab_flex-container) > *,
  .columns__kRyiJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kRyiJ > :global(.__wab_flex-container) > picture > img,
  .columns__kRyiJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 10px;
  }
}
.column__e5O3T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 7px 0px #00000080;
  min-width: 0;
  border-radius: 35px;
  padding: 8px 9px 8px 8px;
  border: 1px solid #4343438c;
}
.h2___4Mdsx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 4px solid var(--token-FPcpZzOSGXKm8d);
}
@media (min-width: 0px) and (max-width: 600px) {
  .h2___4Mdsx {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.columns__lZuVn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lZuVn > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lZuVn > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__lZuVn > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__lZuVn > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__lZuVn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__lZuVn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__beixP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__vbUr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__vbUr > picture > img {
  object-fit: cover;
}
.img__vbUr > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__pspLl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__liTu5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__omBmV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__omBmV {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__w6WqO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button___1XnFd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lwvEy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8YPn8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__eYdq3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__eYdq3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eYdq3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__eYdq3 > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__eYdq3 > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__eYdq3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__eYdq3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eVXy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___39ZWt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  align-self: flex-start;
  left: auto;
  top: auto;
  object-position: 10% 50%;
  min-width: 0;
  min-height: 0;
}
.img___39ZWt > picture > img {
  object-fit: cover;
  object-position: 10% 50%;
}
.img___39ZWt > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 10% 50%;
}
.column__x3Oi5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox___4CG22 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4___684DJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4___684DJ {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__bItzY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__lEx61:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yiaOo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4Rjfi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__zpHVw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zpHVw > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zpHVw > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__zpHVw > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__zpHVw > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__zpHVw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__zpHVw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xccjF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__c3Sy3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__c3Sy3 > picture > img {
  object-fit: cover;
}
.img__c3Sy3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___8VpyS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__zv1ZI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__wruqw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__wruqw {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__tasi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__pHjhr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0SzlL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rxS9J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__nxKv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 7px 0px #00000080;
  min-width: 0;
  border-radius: 35px;
  padding: 8px;
  border: 1px solid #4343438c;
}
@media (max-width: 920px) {
  .column__nxKv {
    padding-top: 8px;
  }
}
.h2__hDlzg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 563px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 4px solid var(--token-07x4swmdHjiMhT);
}
@media (min-width: 0px) and (max-width: 600px) {
  .h2__hDlzg {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.columns___5Z9Rm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___5Z9Rm > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___5Z9Rm > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns___5Z9Rm > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns___5Z9Rm > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns___5Z9Rm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns___5Z9Rm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yhNjU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__bkSxF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__bkSxF > picture > img {
  object-fit: cover;
}
.img__bkSxF > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__hXmMo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__xnuTu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__v0OFa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__v0OFa {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___7ZhwN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__gqVev:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5Latw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ri3A6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__lt7Ut {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lt7Ut > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lt7Ut > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__lt7Ut > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__lt7Ut > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__lt7Ut {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__lt7Ut > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gmZz6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__eGmBp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__eGmBp > picture > img {
  object-fit: cover;
}
.img__eGmBp > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__drwem {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__yq7Yv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__eBeOg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__eBeOg {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___4SeNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__wat8U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__a2H8H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nqLtE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__hn6K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hn6K > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hn6K > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__hn6K > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__hn6K > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__hn6K {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__hn6K > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pdHs7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__yMt9X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__yMt9X > picture > img {
  object-fit: cover;
}
.img__yMt9X > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__gkcjM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__mVay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__msRiz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__msRiz {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___4QDe0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__udSn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___06D2J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__c7Ngp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__w5Xl4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 7px 0px #00000080;
  min-width: 0;
  border-radius: 35px;
  padding: 8px;
  border: 1px solid #4343438c;
}
.h2__zWdx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 464px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 4px solid #aa0000;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h2__zWdx {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.columns__fq8D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__fq8D > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fq8D > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__fq8D > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__fq8D > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__fq8D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__fq8D > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___82Yls {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__o0JlH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  object-position: 82% 50%;
  min-width: 0;
  min-height: 0;
}
.img__o0JlH > picture > img {
  object-fit: cover;
  object-position: 82% 50%;
}
.img__o0JlH > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 82% 50%;
}
.column__slOp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__xobga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__gaXnd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__gaXnd {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__a748 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__axTfI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2TnF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6Fqh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__qj3WC {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qj3WC > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__qj3WC > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__qj3WC > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__qj3WC > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__qj3WC {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__qj3WC > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ekxZu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__xhMwj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__xhMwj > picture > img {
  object-fit: cover;
}
.img__xhMwj > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___79M7L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__jzHtW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__zKy2M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__zKy2M {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__cg9Q3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__sPslY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bLikl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xtNcz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__r1Cot {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__r1Cot > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__r1Cot > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 920px) {
  .columns__r1Cot > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 920px) {
  .columns__r1Cot > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__r1Cot {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .columns__r1Cot > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__k80Un {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__gbMyJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__gbMyJ > picture > img {
  object-fit: cover;
}
.img__gbMyJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__c3E92 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
.freeBox__kgM4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__erQdQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 600px) {
  .h4__erQdQ {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__oGfcS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__e3LCv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ui6Vk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__c99Rq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
