.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      #ffffff 0%,
      #b92b27 16%,
      #1565c0 83%,
      #ffffff 100%
    )
    0% 0% / 100% 100% repeat;
  flex-shrink: 1;
  flex-wrap: nowrap;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1000px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .root {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    flex-shrink: 1;
    display: inline-flex;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cJi5A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px 8px 48px;
}
@media (max-width: 1000px) {
  .column__cJi5A {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__cJi5A {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox___8PD4F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1277px;
  align-self: center;
  margin-left: 0px;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 36px 8px 0px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .freeBox___8PD4F {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.columns__kRyiJ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__kRyiJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 40px) * 12 / 12);
}
.columns__kRyiJ > :global(.__wab_flex-container) > *,
.columns__kRyiJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kRyiJ > :global(.__wab_flex-container) > picture > img,
.columns__kRyiJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__kRyiJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__kRyiJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__kRyiJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__kRyiJ > :global(.__wab_flex-container) > *,
  .columns__kRyiJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kRyiJ > :global(.__wab_flex-container) > picture > img,
  .columns__kRyiJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 5px;
  }
}
.column___3TKyo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 9px;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 7px 4px #00000080;
  background: none;
  min-width: 0;
  border-radius: 35px;
  border: 0px solid #4343438c;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column___3TKyo {
    box-shadow: none;
    border-width: 0px;
  }
}
.h2__rJyvd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  text-align: center;
  color: #ffffff;
  padding-top: 18px;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 0px solid var(--token-FPcpZzOSGXKm8d);
}
@media (min-width: 0px) and (max-width: 450px) {
  .h2__rJyvd {
    font-size: 20px;
    position: absolute;
    width: 116px;
    height: 34px;
    max-width: 800px;
    border-top-right-radius: 0px;
    border-top-left-radius: 35px;
    padding-top: 0px;
    left: 8px;
    top: 8px;
    transform: none;
    z-index: 1;
    text-align: center;
    line-height: 1.5;
    background: var(--token-FPcpZzOSGXKm8d);
    letter-spacing: 0px;
    border-bottom-right-radius: 50px;
    flex-shrink: 0;
    display: block;
    margin: 0px 0px 0em;
  }
}
.columns___7LFZr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.columns___7LFZr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7LFZr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns___7LFZr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    margin-right: 0px;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns___7LFZr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ce84T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__ce84T {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__e985O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  align-self: flex-start;
  left: auto;
  top: auto;
  object-position: 10% 50%;
  min-width: 0;
  min-height: 0;
}
.img__e985O > picture > img {
  object-fit: cover;
  object-position: 10% 50%;
}
.img__e985O > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 10% 50%;
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__e985O {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    align-self: center;
    margin-left: 0px;
    object-position: 0% 50%;
    width: auto;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__e985O > picture > img {
    object-position: 0% 50%;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__e985O > .__wab_img-spacer > img {
    object-position: 0% 50%;
  }
}
.column__e9ULr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__e9ULr {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 16px 3px #00000033;
  }
}
.freeBox__cbGaD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__oA21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 450px) {
  .h4__oA21 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___5Ojaa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__qPw5O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___29WrS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___32Nmv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rbp1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 7px 4px #00000080;
  background: none;
  min-width: 0;
  border-radius: 35px;
  padding: 8px 9px 8px 8px;
  border: 0px solid #4343438c;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__rbp1E {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    box-shadow: none;
  }
}
.h2__ujlHb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 563px;
  text-align: center;
  min-width: 0;
  margin: 18px 0px 0.5em;
  border-bottom: 0px solid var(--token-07x4swmdHjiMhT);
}
@media (min-width: 0px) and (max-width: 450px) {
  .h2__ujlHb {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    display: none;
    margin: 18px 0px 0.5em;
  }
}
.columns___6GrVt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___6GrVt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___6GrVt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns___6GrVt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns___6GrVt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uzeD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__xm6D9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  text-align: center;
  color: #ffffff;
  padding-top: 18px;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 0px solid var(--token-FPcpZzOSGXKm8d);
}
@media (min-width: 0px) and (max-width: 450px) {
  .h2__xm6D9 {
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 30px;
    max-width: 800px;
    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    padding-top: 0px;
    left: 0px;
    top: 0px;
    transform: none;
    z-index: 1;
    text-align: center;
    line-height: 1.5;
    background: #212121;
    border-bottom-right-radius: 35px;
    flex-shrink: 0;
    display: block;
    margin: 0px 0px 0em;
  }
}
.img__wNTkB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 0;
  min-height: 0;
}
.img__wNTkB > picture > img {
  object-fit: cover;
}
.img__wNTkB > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__wNTkB {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
  }
}
.column___1WxFy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column___1WxFy {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 16px 3px #00000033;
  }
}
.freeBox___7QxLl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__cIt39 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 450px) {
  .h4__cIt39 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__dMNiC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__qUk1R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__i3ZHr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vGrSh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__lfb0B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 7px 4px #00000080;
  background: none;
  min-width: 0;
  border-radius: 35px;
  padding: 8px 9px 8px 8px;
  border: 0px solid #4343438c;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__lfb0B {
    box-shadow: none;
  }
}
.h2__fM0HY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 464px;
  text-align: center;
  min-width: 0;
  margin: 18px 0px 0.5em;
  border-bottom: 0px solid #aa0000;
}
@media (min-width: 0px) and (max-width: 450px) {
  .h2__fM0HY {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    display: none;
    margin: 18px 0px 0.5em;
  }
}
.columns__hcLcy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hcLcy > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hcLcy > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__hcLcy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .columns__hcLcy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4EHwX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__z4Pc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 514px;
  text-align: center;
  color: #ffffff;
  padding-top: 18px;
  min-width: 0;
  margin: 0px 0px 0.5em;
  border-bottom: 0px solid var(--token-FPcpZzOSGXKm8d);
}
@media (min-width: 0px) and (max-width: 450px) {
  .h2__z4Pc {
    font-size: 20px;
    position: absolute;
    width: 100px;
    height: 30px;
    max-width: 800px;
    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    padding-top: 0px;
    left: 0px;
    top: 0px;
    transform: none;
    z-index: 1;
    text-align: center;
    line-height: 1.5;
    background: #cb5100;
    border-bottom-right-radius: 35px;
    flex-shrink: 0;
    display: block;
    margin: 0px 0px 0em;
  }
}
.img__a2DTt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  object-position: 82% 50%;
  min-width: 0;
  min-height: 0;
}
.img__a2DTt > picture > img {
  object-fit: cover;
  object-position: 82% 50%;
}
.img__a2DTt > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 82% 50%;
}
@media (min-width: 0px) and (max-width: 450px) {
  .img__a2DTt {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
  }
}
.column__j3XvM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 450px) {
  .column__j3XvM {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 16px 3px #00000033;
  }
}
.freeBox__ePhXg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__rfS0W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 450px) {
  .h4__rfS0W {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__qDoj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__tbNhH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7Purn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__loWf6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
